@font-face {
    font-family: 'OpenSans';
    src: url(/fontws/OpenSans-Bold.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    flex-wrap: wrap;
    background-color: black;
    font-family: 'OpenSans';
}

.header {
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.ul-nav {
    width: 55%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-nav {
    color: white;
}

.li-nav a {
    text-decoration: none;
    color: inherit;
}

a {
    text-transform: uppercase;
    letter-spacing: 0.20em;
}
