@font-face {
    font-family: 'OpenSans';
    src: url(/fontws/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat' ;
    src: url(/fontws/Montserrat/Montserrat-BoldItalic.ttf);

}
* {
    margin: 0%;
    padding: 0%;
    flex-wrap: wrap;
    font-family: 'OpenSans';
}

.header {
    display: flex;
    background-image: url(/images/Black_light_bulbs_black_background_2560x1600\ \(1\).jpg);
    background-size:cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
}

.container-logo {
    width: 15%;
    height: 100%;
    margin-right: 30%;

}

.logo-letters {
    width: 100%;

}

.ul-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 28%;
    height: 100%;
    align-items:center;
    flex-wrap: wrap;
}

.li-nav {
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 2px;

}


